<div *ngIf="databaseService.isConnected()" class="sql-editor" [style.height]="sqlEditorHeight + 'px'" [class.dark-theme]="configurationService.theme == 'dark'">
    <ng-container>
        <ngx-monaco-editor style="height: 100%;"
                           [options]="editorOptions"
                           [(ngModel)]="workspacesService.workspace.text"
                            (onInit)="editorInit($event)">
        </ngx-monaco-editor>
    </ng-container>
</div>

<div *ngIf="!databaseService.isConnected()" [style.height]="sqlEditorHeight + 'px'">
    &nbsp;&nbsp;&nbsp;
</div>

<ng-container *ngIf="grids.length > 0 || databaseService.isConnected()">

    <div class="sql-results-tab" [style.margin-top]="sqlResultsBodyMarginTop + 'px'">
        <table>
            <tr>
                <td (click)="selectConsole(true)" [class.selected]="isConsoleSelected">
                    <div>Console</div>
                </td>
                <ng-container *ngFor="let grid of grids">
                    <td (click)="selectGrid(grid)" [class.selected]="grid.isSelected && !isConsoleSelected">
                        <div>{{ grid.sql }}</div>
                        <div class="actions">
                            <i class="far fa-window-close" (click)="deleteGrid(grid)"></i>
                        </div>
                    </td>
                </ng-container>
                <td class="draggable" [class.is-dragging]="resizeStatus.isResizing" (mousedown)="startResize()" (mouseup)="stopResize()"></td>
            </tr>
        </table>
    </div>

    <div class="sql-results-body" id="sql-results-body" style="font: 12px Consolas" [style.height]="sqlResultsBodyHeight + 'px'">
        <ng-container *ngIf="isConsoleSelected || grids.length == 0">
            <pre style="background-color: white">{{ console }}</pre>
        </ng-container>
        <ng-container *ngFor="let grid of grids">
            <ng-container *ngIf="grid.isSelected && !isConsoleSelected">
                <div *ngIf="grid.result === undefined" style="padding: 20px">
                    Executing... <img src="assets/images/spinner-icon-0.gif" style="height: 15px" />
                </div>
                <ng-container *ngIf="grid.result !== undefined">
                    <ng-container *ngIf="grid.result.error === undefined">
                        <table style="background-color: white">
                            <tr>
                                <th *ngFor="let column of grid.result.columns" style="font-weight: bold">
                                    {{ column.name }}
                                </th>
                            </tr>
                            <tr *ngFor="let row of grid.result.rows">
                                <td *ngFor="let column of grid.result.columns" [class.has-original-value]="!!row[column.name + '.original']"
                                    (click)="!!row[column.name + '.original'] && showValue(row[column.name + '.original'])">
                                    <ng-container *ngIf="row[column.name] == '{null}'">
                                        <span class="null">{{ row[column.name] }}</span>
                                    </ng-container>
                                    <ng-container *ngIf="row[column.name] != '{null}'">
                                        {{ row[column.name] }}
                                    </ng-container>
                                </td>
                            </tr>
                        </table>
                    </ng-container>
                    <button class="load-more" *ngIf="grid.result.hasMoreRows && !grid.isLoadingMore" (click)="loadMoreRows(grid)">
                        Load Next {{ configurationService.config.numberOfRowsToFetch }} Rows
                    </button>
                    <div *ngIf="grid.isLoadingMore">
                        Loading more rows... <img src="assets/images/spinner-icon-0.gif" style="height: 20px" />
                    </div>
                    <div *ngIf="grid.result.error !== undefined" class="error">
                        {{ grid.result.error }}
                        <pre>{{ grid.sql }}</pre>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>

</ng-container>

<app-modal *ngIf="!!valueToDisplay" [visible]="true" (closeModal)="valueToDisplay = null" [width]="'1100px'" [class.dark-theme]="configurationService.theme == 'dark'">
    <div title>
    </div>
    <div body>
        <div style="font: 12px Consolas; white-space: pre-wrap;">{{ valueToDisplay }}</div>
    </div>
    <div footer>
    </div>
</app-modal>
